extends layout.pug
block variables
    - var user= user 
block content
  
    h1= title
    div(class="product-list")
        each cake in cakes 
            div(class="item"  onclick="viewDetail('" + cake.id + "')")
                div(class="image-box")
                    img(src=cake.image ? cake.image: '/public/images/default_image.png', alt="img")
                h2= cake.name
                p= cake.description 
                span= cake.price
        block script  
            script. 
                function viewDetail(id){
                    const a = document.createElement('a');
                    a.href= `./${id}`;
                    a.click();
                } 
   