extends layout.pug

block variables
    -var data = [{fieldName: 'name', label: 'Name', required: true}, {fieldName:'cake_type', label: 'Cake type', required: true}, {fieldName: 'price', label: 'Price', required: true }, {fieldName: 'quantity_in_shock', label: 'Quantity', required: false}, {fieldName: 'description', label: 'Description', required: false}]
block content
    div(class="admin-container")
        form(action='/admin/cake/add' method="POST" class="form-cake" onsubmit="handleSubmit"  entype="multipart/form-data")
            div(class="form-group")
                label(for="file") Cake image 
                    div(class="box-image")
                      img(src="/public/images/default_image.png" id="cakeImage")
                input(type="file" id="file" name="file" value={fileUrl} hidden onchange="handleUploadFile(event)")
                input(type="text" value={fileUrl} name="fileUrl" id="fileUrl"  hidden)
            each item in data 
                div(class="form-group")
                    label(for=item.fieldName)=item.label
                    if  ['description', 'cake_type'].indexOf(item.fieldName) === -1
                        input(type=item.fieldName!=='quantity_in_shock' ? 'text' : 'number' name=item.fieldName id=item.fieldName required=item.required ) 
                    if item.fieldName === 'description' && item.fieldName !== 'cake_type'
                        textarea(name=item.fieldName id=item.fieldName required=item.required )
                    if item.fieldName === 'cake_type'
                        select(name="cake_type")
                            each type in types
                                option(value=type.id)=type.type_name
            div(class="form-group txt-right")
                button(type="submit" class="btn btn--primary") Create cake
        script.   
            function handleUploadFile(event){
                const fileInput = event.target.files[0];
                const readFile =  new FileReader();
                readFile.readAsDataURL(fileInput)
                readFile.addEventListener('load', (e)=>{
                    document.querySelector('#cakeImage').src= e.target.result;         
                    document.querySelector('#fileUrl').value= e.target.result;
                })
            }
            function handleSubmit(e){
                e.preventDefault();
            }


