- var currentPage = 1; 
table(class=styleTable)
    thead
        tr
        each column in columns 
            th= column                
    tbody
        if pages.length > 0  
            each row in data 
                tr 
                    td= row.id 
                    td= row.name 
                    td= row.price 
                    td= row.quantity_in_shock
                    td= row.type_name
                    td
                        div(class="btn-group")
                            a(href=url+row.id class="btn btn--warning") edit 
                            a(class="btn btn--danger") delete
            else 
                tr 
                    td(colspan= columns.length) No data
    tfoot  
        tr
            td(colspan= columns.length)
                div(class="pagination-list")
                    each page in pages
                        span(class=`item ${currentPage === page ? 'active': ''}` onclick=`changePage(${page})`)=page
script. 
    function changePage(page){
        currentPage = page;
        document.querySelectorAll('.pagination-list .item').forEach(item => {
        if (parseInt(item.innerText) === currentPage) {
            item.classList.add('active');
        } else {
            item.classList.remove('active');
        }
        });
    }